/*///////////////////////////////TOPICS GRID//////////////////////////////////*/
#topics .grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:"nav nav"
						"innernav innernav"
						"image_ass1 assignments1"
						" assignments2 image_ass2 "
						"image_ass3 assignments3"
						"assignments4 image_ass4"
}

.image_assignment{
	grid-area: image;
    background-color: #F9D8DB;
    opacity: 0.5;
    padding-top: 40%;
    padding-left: 5%;
    padding-bottom: 50%;
    margin: 4%;
	margin-left: 0;
    background: /* top, transparent red */ 
	linear-gradient(
	rgba(255,184,209,0.60), 
	rgba(255,184,209,0.60)
	),
	/* bottom, image */
	url(../images/placeholder.jpg) no-repeat center;
    background-size: cover;
}


#insidenav, #insidenav1{
	grid-area: innernav;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	list-style: none;
	margin-right: 3%;
	margin-top: 3%;
}

#insidenav li a{
	color: #F9D8DB;
	text-transform: uppercase;
}

#topics .assignments1{
	grid-area: assignments1;
	margin: 4%;
	margin-left: 0;
}

#topics .assignments2{
	grid-area: assignments2;
}

#topics .assignments3{
	grid-area: assignments3;
	margin: 4%;
	margin-left: 0;
}

#topics .assignments4{
	grid-area: assignments4;
}

#topics .image_assignment1{
	grid-area: image_ass1;
	margin: 4%;
	margin-right: 0;
	background-image: url(../images/focus1.jpg);
	background-position: center;
}

#topics .image_assignment2{
	grid-area: image_ass2;
	margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 4%;
	padding: 0;
}

.video2, .video3{
	right: 0;
	bottom: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100%;
}

#topics .image_assignment3{
	grid-area: image_ass3;
	margin: 4%;
	margin-right: 0;
	background-image: url(../images/printermoods.png);
	background-position: center;
}

#topics .image_assignment4{
	grid-area: image_ass4;
	margin: 4%;
	margin-left: 0;
	padding: 0;
}

/*//////////////////////////////WORKSHOPS GRID///////////////////////////////////*/
#workshops .grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:"nav nav"
						"innernav innernav"
						"image_ass1 assignments1"
						"assignments2 image_ass2"
						"image_ass3 assignments3"
}

#insidenav1 li a{
	color: #EDC2E6;
	text-transform: uppercase;
}

#workshops .assignments1{
	grid-area: assignments1;
	margin: 4%;
	margin-left: 0;
}

#workshops .assignments2{
	grid-area: assignments2;
}

#workshops .assignments3{
	grid-area: assignments3;
	margin: 4%;
	margin-left: 0;
}


#workshops .image_assignment5{
	grid-area: image_ass1;
	margin-left: 4%;
	margin-right: 0;
	padding: 0;
	opacity: 100;
}

#workshops .image_assignment6{
	grid-area: image_ass2;
	padding-top: 20%;
}

#workshops .image_assignment7{
	grid-area: image_ass3;
	
	background-image: url(../images/cv.jpg);
	background-position: center;
	background-size: 100%;
	
	margin: 4%;
	margin-right: 0;
	padding-top: 1%;
}


/*/////////////////////////////EXCURSION GRID////////////////////////////////////*/
.grid-container3{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:"nav nav"
						"image_ass1 assignments1"
}

#excursion .assignments1{
	grid-area: assignments1;
	margin-right: 4%;
	margin-left: 0;
}

#excursion .image_assignment8{
	grid-area: image_ass1;
	
	background-image: url(../images/excursion.jpg);
	background-position: center;
	
	margin: 4%;
	margin-right: 0;
}

/*//////////////////////////////LABWEEKS GRID///////////////////////////////////*/
.grid-container4{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:"nav nav"
						"image image"
						"assignments1 assignments1"
						"assignments2 assignments2"
						"assignments3 assignments3"
						"assignments4 assignments4"
						"assignments5 assignments5"
						"assignments6 assignments6"
						"assignments7 assignments7"
						"assignments8 assignments8"
						"assignments9 assignments9"
}

.image{
	grid-area: image;
	height: 550px;
	margin-top: 2%;
	background-color: #111111;
	color: white;
	margin-right: 4%;
	margin-left: 4%;
}

#labweeks .assignments{
	margin: 4%;
	margin-top: 3%;
	margin-bottom: 0;
}

/*assignments*/
#labweeks .assignments1{
	grid-area: assignments1;
}

#labweeks .assignments2{
	grid-area: assignments2;
}

#labweeks .assignments3{
	grid-area: assignments3;
}

#labweeks .assignments4{
	grid-area: assignments4;
}

#labweeks .assignments5{
	grid-area: assignments5;
}

#labweeks .assignments6{
	grid-area: assignments6;
}

#labweeks .assignments7{
	grid-area: assignments7;
}

#labweeks .assignments8{
	grid-area: assignments8;
}

#labweeks .assignments9{
	grid-area: assignments9;
}
/*//////////////////////////////ALL THE GRIDS///////////////////////////////////*/
nav{
  grid-area: nav;
  font-family: raleway;
  font-size: 18px;
  padding: 0;
}

.assignments{
	grid-area: header;
	background-color: #F9D8DB;
	color: #232323;
	font-family: raleway;
	font-size: 48px;
	
	margin: 4%;
	margin-right: 0;
	padding-top: 10%;
    padding-left: 5%;
	padding-right: 5%;
    padding-bottom: 10%;
}

#labweeks .assignments{
	padding: 5%;
}

#topics .overlay a, #topics .logo{
	color: #F9D8DB;
}

#workshops .overlay a, #workshops .logo{
	color: #EDC2E6;
}

#excursion .overlay a, #excursion .logo{
	color: #DBA4EA;
}

#labweeks .overlay a, #labweeks .logo{
	color: #A476C1;
}

#topics .assignments, #topics .image_assignment{
	background-color: #F9D8DB;
}

 #workshops .assignments, #workshops .image_assignment{
	 background-color: #EDC2E6;
 }
 
 #excursion .assignments{
	 background-color: #DBA4EA;
 }
 
 #labweeks .assignments, #labweeks .image_assignment{
	 background-color: #A476C1;
	 color: #f4f4f4;
 }
 
 #labweeks h1, #labweeks p, #labweeks h3{
	 color: #f4f4f4;
 }
 
#topics .nav-links:hover, #workshops .nav-links:hover, #excursion .nav-links:hover, #labweeks .nav-links:hover   {
        color: #f1f1f1;;
    }
  